
<%- include("./partials/head.ejs") %>
<%- include("./partials/nav.ejs") %>




<h1>This is the ABOUT page!</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum molestiae ea atque quo porro repellat ab adipisci? Eveniet fuga laborum odit, cum obcaecati, cupiditate, nemo molestias eos vero quibusdam iure.</p>











<%- include("./partials/footer.ejs") %>

